body {
  background-color: #282c34;
  color: rgb(219, 219, 219);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  margin-bottom: 3px;
  width: 100%;
  border: none;
  padding: 0;
  height: 25px;
}


.add-button {
  margin-top: 20px;
  width: 100%;
  font-size: calc(10px + 2vmin);
  border: 3px solid #525968;
  background-color: #282c34;
  color: rgb(219, 219, 219);
}

.App {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(84, 76, 130);
  cursor: pointer;
}

.answer {
  border: 1px solid white;
  margin: 4px;
  cursor: pointer;
}

.answer-comment {
  border: 1px solid white;
  margin: 5px;
  background-color: #363b45;
  padding: 4px;
}

.answer.red {
  border: 1px solid rgb(233, 4, 4);
}

.answer.green {
  border: 1px solid rgb(22, 225, 76);
}

.answer:hover {
  background-color: #363b45;
}